<!DOCTYPE html>
<html>
  <head>
    <title>Projeckt Tracker </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>




    <%= stylesheet_link_tag 'application','https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text&display=swap', 'https://fonts.googleapis.com/css?family=Meera+Inimai&display=swap', media: 'all' %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>

<div class = "a">
    <h1> Mind Tracker</h1>

    <header>

      <nav>

        <% if @current_user.present? %>
           Welcome, <%= @current_user.name %>
           <%= link_to 'Logout',login_path, method: 'delete' %>

           <%= link_to 'Dashboard',user_path(@current_user.id) %>
         <% else %>
           <%= link_to 'Login',login_path  %>
           <%= link_to 'SignUp', new_user_path %>
         <% end %>
         </nav>

         <hr>

  </header>


    <%= yield %>
    <hr>
    <footer>
    &copy; Productivity Addicts 2020
</footer>
</div>
  </body>
</html>
