<!DOCTYPE html>
<html>
  <head>
    <title>ProjecktDB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <h1> Projekt  DB</h1>

    <header>

      <nav>

        <% if @current_user.present? %>
           Welcome, <%= @current_user.name %>
           <%= link_to 'Logout',login_path, method: 'delete' %>

           <%= link_to 'Dashboard',user_path(@current_user.id) %>
         <% else %>
           <%= link_to 'Login',login_path  %>
           <%= link_to 'Sign Up', new_user_path %>
         <% end %>
         </nav>

         <hr>

  </header>


    <%= yield %>
    <hr>
    <footer>
    &copy; Productivity Addicts, 2020
</footer>

  </body>
</html>
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
